<%- include ('../partials/header') %>
<div class="container">
  <div class="row">
      <div class="col-md-9">
        <div class="thumbnail show-thumbnsil">
          <img class="img-responsive" src="<%=campground.image%> " alt="<%=campground.image%> + image">
          <div class="caption-full">
            <h5 class="pull-right" style="font-weight: 700;">$35.00/Day</h5>
            <h4><a><%=campground.name%></a></h4>
            <p>Created by: <%= campground.author.username%></p>
            <p><%-campground.description%> </p>
          </div>
        </div>
        <div class="well">
          <h3>Site Map</h3>
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe 
                    width="100%" 
                    height="500" 
                    id="gmap_canvas" 
                    src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                    frameborder="0" 
                    scrolling="no" 
                    marginheight="0" 
                    marginwidth="0">
                </iframe>
                <a href="https://123movies-to.org"></a> <br>
                <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
              </div>
            </div>
        </div>          
      </div>

    <div class="col-md-3">
      <p class="lead">CampWe / <%= campground.name%></p>
      <div class="list-group">
          <li class="list-group-item active">Campground Info</li>
          <li class="list-group-item ">Owner's Info</li>
          <li class="list-group-item">Availbility</li>
      </div>
      <div class="well">
        <p> 
          <a href="/campgrounds/<%=campground._id%>/edit" class="editbtn btn" title="Edit Campground info">Edit</a>
        </p>
      </div>
      <div class="well">
        <div class="text-right">
          <a href="/campgrounds/<%=campground._id%>/comments/new" class="btn btn-success">Add Comment</a>
          <hr>
        </div>
          <% campground.comments.forEach(function(comment){%>
            <div class="row">
              <div class="col-md-12">
                <strong><%= comment.author.username%> </strong>
                <span class="pull-right"><%= comment.created.toLocaleString()%> </span>
                <p><%=comment.text%> </p> <hr>
              </div>
            </div>
          <%})%>     
      </div> 
      <!-- Campground map will come here -->
  </div>
  </div>
</div>
<div class="container">
  <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST" id="delete">
    <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete campground?');">Delete</button>
  </form>
</div>
  
</div>
<%- include ('../partials/footer') %>